@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
.event_card {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  border: 1px solid white;
  cursor: pointer;
  transition: all 0.5s ease;
}
.event_card:hover {
  box-shadow: 10px 10px 10px black;
}
.event_card__logo img {
  width: 8rem;
  height: 100%;
}
.event_card__details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 28rem;
  padding-left: 18px;
}
.event_card__details__description {
  font-family: "Playfair Display", serif;
  color: rgb(228, 228, 23);
}
.event_card__place {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-evenly;
  border-left: 1px solid white;
}
.event_card__place div {
  display: flex;
  align-items: center;
}
.event_card__place div span {
  margin-left: 4px;
}
